
<%= render 'users/list', users: @users, books: @books %>

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<h1>User Info</h1>
<%= form_for(@user) do |f| %>
<table>
  <tr>
    <th>Name</th>
    <th><%= f.text_field :name %></th>
  </tr>
  
  <tr>
    <th>Image</th>
    <th><%= f.attachment_field :profile_image %></th>
  </tr>
  <tr>

    <th>Introduction</th>
    <th><%= f.text_area :introduction %></th>
  </tr>
</table>
<%= f.submit "Update " %>
<% end %>

