<%= render 'users/list', users: @users, books: @books %>



<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<h1>Editing Book</h1>
<%= form_for(@book) do |f| %>
<p>Title</p>
  <%= f.text_field :title %>
<p>Opinion</p>
  <%= f.text_area :body %>
<%= f.submit "Update Book" %>
<% end %>
<p><%= link_to "Show", book_path(@book) %> 
| <%= link_to "Back", books_path %></p>